<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="fr" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="dashboard"
      class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="fr" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="dashboard" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="fr" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="dashboard" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" ng-app="dashboard" class="no-js"> <!--<![endif]-->
<html xmlns:ng="http://angularjs.org" ng-app="dashboard">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard CdS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <!-- bower:css -->
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'/>
  <!-- endbower -->
</head>
<body ng-controller="myAppController">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <button type="button" class="btn btn-default navbar-btn active"><span class="glyphicon glyphicon-modal-window"
                                                                            aria-hidden="true"></span> ADAM
      </button>
      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-picture"
                                                                     aria-hidden="true"></span> DR
      </button>
      <button type="button" class="btn btn-default navbar-btn"> WIT</button>
      <button type="button" class="btn btn-default navbar-btn"> REACTIV</button>
      <button type="button" class="btn btn-default navbar-btn"> SUE</button>
      <button type="button" class="btn btn-default navbar-btn"> NOEMIE</button>
      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"
                                                                     aria-hidden="true"></span></button>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Thème <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="#">Classique</a></li>
            <li><a href="#">Dark</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <db-list items="phones"></db-list>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-move left-icon"
                                        aria-hidden="true"></span> Titre
            <span class="glyphicon glyphicon-minus-sign right-icon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-cog right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum porttitor ornare. Vivamus eu
          ante at eros tempor ultrices non sit amet nunc. Etiam accumsan, nisi et congue pretium, odio eros
          tempus nisi, ac feugiat ligula turpis eget tortor. Aenean et tempus nisi. In et ultrices lacus.
          Suspendisse molestie tortor arcu, et varius arcu laoreet blandit. Nulla scelerisque nulla vitae
          lacus ullamcorper, vitae suscipit mi bibendum. Etiam ut elit in magna tincidunt sodales.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-align-justify left-icon"
                                        aria-hidden="true"></span> Titre 1
            <span class="glyphicon glyphicon-remove-circle right-icon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-wrench right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              <a href="#">Lien 1</a>
            </li>
            <li>
              <a href="#">Lien 2</a>
            </li>
            <li>
              <a href="#">Lien 3</a>
            </li>
            <li>
              <a href="#">Lien 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-list left-icon"
                                        aria-hidden="true"></span> Titre 2
            <span class="glyphicon glyphicon-remove right-icon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-edit right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              Texte 1
              <a href="#">Lien 1</a>
              <a href="#">Lien 1 bis</a>
            </li>
            <li>
              Texte 2
              <a href="#">Lien 2</a>
            </li>
            <li>
              Texte 3
              <a href="#">Lien 3</a>
              <a href="#">Lien 3 bis</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-menu-hamburger left-icon"
                                        aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove-sign right-icon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-pencil right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum porttitor ornare. Vivamus eu
          ante at eros tempor ultrices non sit amet nunc. Etiam accumsan, nisi et congue pretium, odio eros
          tempus nisi, ac feugiat ligula turpis eget tortor. Aenean et tempus nisi. In et ultrices lacus.
          Suspendisse molestie tortor arcu, et varius arcu laoreet blandit. Nulla scelerisque nulla vitae
          lacus ullamcorper, vitae suscipit mi bibendum. Etiam ut elit in magna tincidunt sodales.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-option-vertical left-icon"
                                        aria-hidden="true"></span>
            <span class="glyphicon glyphicon-pencil right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum porttitor ornare. Vivamus eu
          ante at eros tempor ultrices non sit amet nunc. Etiam accumsan, nisi et congue pretium, odio eros
          tempus nisi, ac feugiat ligula turpis eget tortor. Aenean et tempus nisi. In et ultrices lacus.
          Suspendisse molestie tortor arcu, et varius arcu laoreet blandit. Nulla scelerisque nulla vitae
          lacus ullamcorper, vitae suscipit mi bibendum. Etiam ut elit in magna tincidunt sodales.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-option-vertical left-icon"
                                        aria-hidden="true"></span>
            <div class="input-group panel-head-form">
              <input type="text" class="form-control" ng-model="item.name" placeholder="Titre"/>
            </div>
            <span class="glyphicon glyphicon-remove right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          <button class="btn btn-success">Créer un nouveau template</button>
          <label>Choisir un template existant</label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTemplate" data-toggle="dropdown">
              Templates
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" class="dropdown-header">Templates par défaut</li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Téléphones</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Liens</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Liens Multiples</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" class="dropdown-header">Templates créés</li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-option-vertical left-icon"
                                        aria-hidden="true"></span>
            <div class="input-group panel-head-form">
              <input type="text" class="form-control" ng-model="item.name" placeholder="Titre"/>
            </div>
            <span class="glyphicon glyphicon-remove right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Bloc partagé ?
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Couleur</label>
              <label class="radio-inline"><input type="radio" name="optradio" checked>Rouge</label>
              <label class="radio-inline"><input type="radio" name="optradio">Bleu</label>
              <label class="radio-inline"><input type="radio" name="optradio">Vert</label>
              <label class="radio-inline"><input type="radio" name="optradio">Jaune</label>
              <label class="radio-inline"><input type="radio" name="optradio">Gris</label>
            </div>
            <div class="form-group">
              <label for="templateInput">Template</label>
              <textarea class="form-control" rows="5" id="templateInput" placeholder="Entrer le template HTML avec ses placeholders"></textarea>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Header
                </label>
                <label>
                  <input type="checkbox"> Footer
                </label>
              </div>
            </div>
            <label for="templateField1">Champs</label>
            <div class="input-group">
              <input type="text" class="form-control" id="templateField1" placeholder="Saississez un nom pour le champ {0}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"
                                                                     aria-hidden="true"></span></button>
              </span>
            </div>
            <button type="submit" class="btn btn-success">Valider</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 newblock">
      Ajouter un nouveau bloc
    </div>
  </div>
</div>
<footer class="footer">
  <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Modifications non enregistrées
  <button type="button" class="btn btn-default navbar-btn" title="Envoyer les modifications"
          ng-click="sendData(phones)"><span class="glyphicon glyphicon-floppy-save"
                                            aria-hidden="true"></span> Sauvegarder
  </button>
</footer>
<!-- Scripts -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<script src="javascripts/services/data.factory.js"></script>
<script src="javascripts/list/list.module.js"></script>
<script src="javascripts/app.module.js"></script>
</body>
</html>
