body {
    padding: 50px;
    padding-top: 70px;
}

.right-icon{
    float: right;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.left-icon{
    float: left;
    padding: 0 5px 0 0;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.panel-heading{
    min-height: 40px;
}

.panel-head-form{
    float: left;
}

.panel-head-form > input{
    height: 24px;
}

.panel{
    height: 350px;
    overflow: auto;
}

.newblock {
    border: 4px dashed lightgray!important;
    color: lightgray;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inline > .form-group{
    max-width: 25%;
}

.form-inline > .form-group > input{
    max-width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 5px 10px;
}