body {
    padding: 50px;
    padding-top: 70px;
}

.right-icon{
    float: right;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.left-icon{
    float: left;
    padding: 0 5px 0 0;
    cursor: grab;
}

.panel-heading{
    min-height: 40px;
}

.panel-head-form{
    float: left;
}

.panel-head-form > input{
    height: 24px;
}

.newblock {
    border: 4px dashed lightgray;
    color: lightgray;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    padding: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 5px 10px;
}