<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-option-vertical"
                                          aria-hidden="true"></span> Téléphones
                <span class="glyphicon glyphicon-trash right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-pencil right" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="item in items" class="{{item.team}}"><span>{{item.name}}</span> :
                    <span>{{item.phone}}</span></li>
            </ul>
            <form name="itemsForm" ng-submit="addListItem()" ng-show="edition">
                <input type="text" ng-model="item.name" placeholder="Trigramme"/>
                <input type="text" ng-model="item.phone" placeholder="Téléphone"/>
                <select ng-model="item.team">
                    <option value="0">WIT</option>
                    <option value="1">DR</option>
                    <option value="2">ADAM</option>
                </select>
                <input type="submit" title="Ajouter" value="Ajouter"/>
            </form>
        </div>
    </div>
</div>