<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-option-vertical left-icon"
                                          aria-hidden="true"></span> Téléphones
                <span class="glyphicon glyphicon-trash right-icon" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-pencil right-icon" aria-hidden="true"></span></h3>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="item in items" class="{{item.team}}"><span>{{item.name}}</span> :
                    <span>{{item.phone}}</span></li>
            </ul>
            <form name="itemsForm" class="form-inline" ng-submit="addListItem()" ng-show="edition">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="item.name" placeholder="Trigramme"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="item.phone" placeholder="Téléphone"/>
                </div>
                <div class="form-group">
                    <select ng-model="item.team" class="form-control">
                        <option value="0">WIT</option>
                        <option value="1">DR</option>
                        <option value="2">ADAM</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" title="Ajouter" value="Ajouter"/>
            </form>
        </div>
    </div>
</div>